<h2>Cadastrar</h2>
<form (ngSubmit)="signup()">
  <div>
    <label for="name">Nome:</label>
    <input type="text" id="name" name="name" [(ngModel)]="name" required>
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" [(ngModel)]="email" required>
  </div>
  <div>
    <label for="password">Senha:</label>
    <input type="password" id="password" name="password" [(ngModel)]="password" required>
  </div>
  <div>
    <label for="confirm_password">Confirmação de senha:</label>
    <input type="password" id="confirm_password" name="confirm_password" [(ngModel)]="confirm_password" required>
  </div>
  <button type="submit">Cadastrar</button>
</form>
