<div class="container mx-auto py-4">
  <div class="flex justify-center items-center gap-4">  
    <h2 class="text-2xl font-semibold">Bem-vindo(a) {{ person.name }}</h2>
    <p *ngIf="isBirthDay" class="text-2xl font-semibold text-green-500">Feliz Aniversário!</p>
  </div>
</div>

<div class="container mx-auto py-4">
  <h3 class="text-2xl font-semibold mb-4">Seus dados:</h3>
  <app-table [person]="person"></app-table>
  <div class="mb-4"></div>
  <app-address-table [addresses]="addresses"></app-address-table>
</div>

<div *ngIf="person.is_admin" class="container mx-auto py-4">
  <h3 class="text-2xl font-semibold mb-4">Pessoas cadastradas:</h3>
  <app-people-table [people]="people"></app-people-table>
</div>

<div class="container mx-auto py-4">

<button (click)="handleLogout()"  class="bg-red-500 border-red-500 border rounded-md inline-flex items-center justify-center py-3 px-7 text-center text-base font-medium text-white hover:bg-[#1B44C8] hover:border-[#1B44C8] disabled:bg-gray-3 disabled:border-gray-3 disabled:text-dark-5 active:bg-[#1B44C8] active:border-[#1B44C8]">Sair</button></div>
