<section class="bg-white dark:bg-dark py-0 lg:py-[0px]">
      <div class="container mx-auto">
         <div class="flex flex-wrap -mx-4">
            <div class="w-full px-4">
               <div class="max-w-full overflow-x-auto">
                  <table class="w-full table-auto">
                     <thead>
                        <tr class="text-center bg-blue-500">
                           <th
                              class="w-1/6 min-w-[160px] border-l border-transparent py-4 px-3 text-lg font-medium text-white lg:py-7 lg:px-4"
                              >
                              Nome					
                           </th>
                           <th
                              class="w-1/6 min-w-[160px] py-4 px-3 text-lg font-medium text-white lg:py-7 lg:px-4"
                              >
                              E-mail
                           </th>
                           <th
                              class="w-1/6 min-w-[160px] py-4 px-3 text-lg font-medium text-white lg:py-7 lg:px-4"
                              >
                              Sexo
                           </th>
                           <th
                              class="w-1/6 min-w-[160px] py-4 px-3 text-lg font-medium text-white lg:py-7 lg:px-4"
                              >
                              Data de Nascimento
                           </th>
                           <th
                              class="w-1/6 min-w-[160px] py-4 px-3 text-lg font-medium text-white lg:py-7 lg:px-4"
                              >
                              Estado Civil
                           </th>
                           <th
                              class="w-1/6 min-w-[160px] border-r border-transparent py-4 px-3 text-lg font-medium text-white lg:py-7 lg:px-4"
                              >
                              Ações
                           </th>
                        </tr>
                     </thead></table></div></div></div></div></section>